#voltar_pesquisa{
	position: relative;
	width: 5%;
	background: #333;
	border: 1px solid #333;
	margin-top: 0;
	text-align: center;

}
#btnVoltar{
	position: relative;
	width: 100%;
	margin-left: 3px;
}
#btnVoltar a{
	color: #FFFFFF;
	font-size: 18px;
}